
<h2>Delete</h2>

<br>
<p> Todays Date: {{dM}}</p>
<form name="myForm" ng-controller="DateController as dateCtrl">
    <label for="dateInput">PurchaseDate:</label>
    <div class="col-sm-7">
    <input type="date" id="dateInput" name="input" ng-model="e.value"
        placeholder="yyyy-MM-dd" min="2016-01-01" max="2021-12-31" required />
    </div>
<br><br>
<label >Email:</label>
<div class="col-sm-7">
     <input type ="email"id ="email"> 
</div>  
<br> <br>
     <label >Computer Name:</label>
     <div class="col-sm-7">
     <input id ="ComputerName">  
     </div>
        </form>

<br>

<button type="button" class="btn btn-secondary" (click)="delete()">Delete</button>

