
<h2>Delete</h2>

<br>
<p> Todays Date: {{dM}}</p>
<form name="myForm" ng-controller="DateController as dateCtrl">
    <label for="dateInput">PurchaseDate:</label>
    <input type="date" id="dateInput" name="input" ng-model="e.value"
        placeholder="yyyy-MM-dd" min="2016-01-01" max="2021-12-31" required />
<br><br>
<label >Email:</label>
     <input type ="email"id ="email">   
<br> <br>
     <label >Computer Name:</label>
     <input id ="ComputerName">  
        </form>

<br>

<button (click)="delete()">Delete</button>

